################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApp.GitHubCICD_Demo/.vs/WebApp.GitHubCICD_Demo
/WebApp.GitHubCICD_Demo/WebApp.GitHubCICD_Demo/bin/Debug/netcoreapp3.1
/WebApp.GitHubCICD_Demo/WebApp.GitHubCICD_Demo/obj
